.primary-footer-wrapper {
	--border: 2px solid var(--clr-neutral-200);
	border-top: var(--border);
	border-bottom: var(--border);
	padding: 3em 0 5em 0;
	margin: 2em 0;
}

footer {
	padding-bottom: 1em;
}

.primary-footer-wrapper > a {
	flex: 0 1 60%;
}

.logo-footer {
	transform: scale(0.5);
}

.primary-footer a {
	color: var(--clr-neutral-300);
}

.footer-nav {
	--split-spacer: 3rem;
	text-align: left;
}

.footer-nav > dl {
	width: 100%;
}

.copywrite-social-wrapper {
	padding: 2em 0 10em 0;
}

.footer-social a {
	font-weight: var(--fw-200);
}

@media (min-width: 54em) {
	.footer-nav {
		--split-spacer: 7rem;
		text-align: left;
	}
	.copywrite-social-wrapper {
		padding: 2em 0 4em 0;
	}
}
