.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal-wrapper {
	--flow-spacer: 2rem;
	width: 100%;
}

.modal,
.modal-image {
	/* padding: 1em; */
	text-align: left;
	border-radius: 0rem;
	width: 100%;
	opacity: 1;
}

.modal-image {
	height: 25%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.modal {
	height: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
}

.btn.modal-button-back {
	padding: 0;
	color: var(--clr-neutral-100);
	font-size: var(--fs-300);
	text-decoration: underline;
	text-underline-offset: 0.3em;
}

.modal-name-wrapper {
	--xl-space: 2.2rem;
}

.modal-name {
	font-family: var(--ff-accent);
	font-size: var(--fs-600);
	opacity: 1 !important;
}

.modal-ingredients {
	display: flex;
}

.modal-ingredients > p:not(:last-child)::after {
	content: '|';
	padding: 0px 10px;
	color: var(--clr-neutral-100);
	font-weight: var(--fw-400);
}

.modal-characteristic {
	padding: 0.3em 0.5em;
	border-radius: 100vw;
	background-color: #f58062;
}

.modal-Switch-container,
.modal-Extra-Ingredients {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-Extra-Ingredients > * + * {
	margin: 0rem 0rem 0rem var(--spacer-horizontal, 1rem);
}

.modal-Switch-container > * + * {
	margin: 0rem 0rem 0rem var(--spacer-horizontal, 1rem);
}

/* Switch */

.switch {
	width: 30px;
	height: 7px;
	background-color: rgba(255, 255, 255, 0.742);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 50px;
	padding: 7px 2px;
	cursor: pointer;
}

.switch[data-ison='true'] {
	justify-content: flex-end;
	background-color: #4bd763;
}

.handle {
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 40px;
}

/* //////// */

.modal-quantity {
	--xl-space: 2.2rem;
	--spacer-horizontal: 1rem;
	display: flex;
	align-items: center;
}

.modal-quantity > * {
	color: whitesmoke;
}

.modal-buttom-price-wrapper {
	--xl-space: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn.modal-button-add {
	padding: 1em 2em;
	font-size: var(--fs-300);
	color: var(--clr-neutral-300);
	transition: all 200ms ease;
}

.plus_modal {
	font-size: 1.8em;
}

.minus_modal {
	font-size: 1.5em;
}
.modal-Extra-Ingredients {
	--flow-spacer: 1.2em;
}

.modal-intro-wrapper {
	--flow-spacer: 1.2em;
}

@media (min-width: 58em) {
	.modal-backdrop {
		flex-direction: row;
	}

	.modal {
		flex-direction: column;
		padding: var(--br) 11rem;
	}

	.modal-wrapper {
		--flow-spacer: 3.9em;
	}

	.modal,
	.modal-image {
		width: 50%;
		height: 100%;
		opacity: 1;
	}

	.modal-image {
		height: 100%;
	}

	.modal-intro-wrapper {
		--flow-spacer: 1.2em;
	}

	.modal-name-wrapper {
		--xl-space: 3.5rem;
	}

	.modal-ingredients > p:not(:last-child)::after {
		padding: 25.6px;
	}

	.modal-Extra-Ingredients {
		--flow-spacer: 1.2em;
	}

	.modal-quantity {
		--xl-space: 3.5rem;
		--spacer-horizontal: 1.5rem;
	}

	.modal-quantity > * {
		color: whitesmoke;
	}

	.modal-buttom-price-wrapper {
		--xl-space: 2em;
	}

	.btn.modal-button-add {
		padding: 0.7em 2em;
		font-size: var(--fs-300);
	}
}
