.nav {
	text-align: center;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	padding: 1rem 1rem 0 1;
}
.name {
	color: var(--clr-neutral-300);
}

.logo-image-wrapper {
	min-height: 8.5rem;
}

.logo {
	text-align: center;
	width: 100%;
	cursor: pointer;
	outline: none;
	--flow-spacer: calc(var(--br) / 2);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.logo img {
	margin: auto;
	transform: scale(0.5);
}

/* Putting all the links at the bottom without issue as the contact and about are hidden */
.nav-links {
	color: var(--clr-neutral-100);
	background-color: red;
	cursor: pointer;
	padding: 0rem;
	height: 0;
}

/* Hide the nav links without animation */
.about-contact-wrapper-visible {
	display: none;
}

/* Pizzas drinks & trolly at the bottom position fixed */
.pizza-drinks-wrapper,
.trolly {
	position: fixed;
	border-radius: 1.8rem 1.8rem 0 0rem;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: var(--ff-sans);
	padding: 1.8rem 2rem;
	list-style: none;
	z-index: 1;
}

.pizza-drinks-wrapper {
	pointer-events: ALL;
	right: 50%;
	z-index: 2;
	min-height: 85px;
}

.pizza-drinks-wrapper a {
	color: var(--clr-neutral-100);
	font-size: var(--fs-500);
}
/*  Trolly to the bottom */
.trolly {
	background-color: var(--clr-neutral-300);
	color: var(--clr-neutral-100);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}

.trolly-icon {
	font-size: var(--fs-500);
}

.trolly > span {
	font-size: var(--fs-100);
	line-height: 0;
	color: rgb(215, 215, 215);
}

.trolly > div {
	position: relative;
}

.nav-order-size {
	position: absolute;
	top: -1em;
	right: -0.07em;
	font-size: var(--fs-100);
	background-color: var(--clr-neutral-100);
	color: var(--clr-neutral-300);
	padding: 0.2em 0.5em;
	border-radius: 1rem;
	display: grid;
	place-items: center;
}

.about-contact-wrapper,
.pizza-drinks-wrapper {
	display: flex;
	list-style: none;
}

/* Flex row Gap */
.pizza-drinks-wrapper > * + * {
	margin: 0 0 0 var(--br);
}
/* Flex Columns Gap */
.about-contact-wrapper > * + * {
	margin: var(--br) 0 0 0;
}

.about-contact-wrapper {
	position: fixed;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	/* Matching the App padding */
	padding-right: 1rem;
	top: 0;
	left: 0;
	bottom: 0;
	background: red;
	width: 100%;
	font-size: var(--fs-600);
	z-index: 2;
}
/* Position the Burger Menu where it belongs */
.burger {
	position: relative;
	z-index: 3;
	padding: 1.5rem 1.5rem 1.5rem 0;
	align-self: flex-end;
}
/* Styling the burger menu lines */
.burger > div {
	--flow-spacer: 0.31em;
	width: 2rem;
	height: 0.25rem;
	border-radius: 10px;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
}

.burger-menu-links {
	cursor: pointer;
	z-index: 4;
	font-size: var(--fs-600);
	color: var(--clr-neutral-100);
}

.navigation-link li {
	position: relative;
	transition: all 10ms ease-out;
}

.navigation-link li::after {
	content: '';
	position: relative;
	display: block;
	bottom: -4px;
	height: 0.15rem;
	width: 100%;
	transform: scale(0, 1);
	background-color: var(--clr-accent-400);
	border-radius: 100vw;
	transition: all 200ms ease-in-out;
}

.navigation-link li:hover::after {
	transform: scale(1, 1);
}
.navigation-link li:active::after {
	transform: scale(1, 1);
}

.navigation-link-underline-active::after {
	transform: initial !important;
	transition: all 0ms ease-in-out !important;
}

@media (min-width: 54em) {
	.nav {
		display: grid;
		grid-template-columns: minmax(300px, 28.3%) 1fr 0.05fr;
		grid-auto-rows: 1fr;
		text-align: left;
		/* place-items: start center; */
	}

	.burger {
		display: none;
	}
	/* Special Links with animations for the Mobile Version */
	.about-contact-wrapper {
		display: none;
	}

	.logo {
		background-color: var(--clr-accent-300);
		border-radius: 1rem 1rem 0rem 0rem;
		padding-bottom: 2rem;
	}

	.logo-image-wrapper {
		min-height: 8.5rem;
	}

	.nav-links {
		height: initial;
		display: grid;
		place-items: center;
	}

	.trolly {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.trolly > span {
		margin-top: 1rem;
		margin: 1rem auto;
		font-size: var(--fs-200);
		color: var(--clr-neutral-300);
	}

	.nav-cost {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav-cost > * + * {
		margin-left: 0.1rem;
	}

	/* Resetting values for desktop version */
	.nav-links,
	.trolly,
	.pizza-drinks-wrapper {
		background: none;
		position: static;
		bottom: initial;
		left: initial;
		right: initial;
		border-radius: initial;
		color: var(--clr-neutral-300);
		padding: 0 0;
		text-align: initial;
		width: auto;
	}
	/* Functionality to allow the split of the Nav links into the Burger and the Bottom */
	.nav-links,
	.trolly {
		margin-bottom: 0;
		height: 100%;
	}

	.nav-links ul {
		padding: 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		color: inherit;
	}

	.nav-links ul > * + * {
		margin: 0 0 0 var(--br);
		list-style: none;
	}

	.pizza-drinks-wrapper {
		min-height: initial;
	}

	.pizza-drinks-wrapper a {
		color: var(--clr-neutral-300);
	}
	.about-contact-wrapper-visible {
		display: flex;
	}

	.about-contact-wrapper-visible a {
		font-size: var(--fs-500);
		color: var(--clr-neutral-300);
	}

	.about-contact-wrapper-visible > * + * {
		margin: 0 0 0 var(--br);
	}

	.name {
		text-align: center;
		opacity: 1;
	}
}
