.nav {
	text-align: center;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}

.logo {
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.logo img {
	margin: auto;
	transform: scale(0.5);
}

/* Putting all the links at the bottom without issue as the contact and about are hidden */
.nav-links {
	color: var(--clr-neutral-100);
	cursor: pointer;
	padding: 0.2rem;
	/* display: none; */
	height: 0;
}

/* Hide the nav links without animation */
.about-contact-wrapper-visible {
	display: none;
}

/* Pizzas drinks & trolly at the bottom position fixed */
.pizza-drinks-wrapper,
.trolly {
	position: fixed;
	border-radius: 1.8rem 1.8rem 0 0rem;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: var(--ff-sans);
	padding: 1.8rem 2rem;
	list-style: none;
}

.pizza-drinks-wrapper {
	z-index: 1;
	pointer-events: ALL;
	right: 50%;
}

.pizza-drinks-wrapper a {
	color: var(--clr-neutral-100);
	font-size: var(--fs-500);
}
/*  Trolly to the bottom */
.trolly {
	background-color: var(--clr-neutral-300);
	color: var(--clr-neutral-100);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}

.trolly-icon {
	font-size: var(--fs-500);
}

.trolly > span {
	font-size: var(--fs-100);
	line-height: 0;
	color: rgb(215, 215, 215);
}

.trolly > div {
	position: relative;
}

.nav-order-size {
	position: absolute;
	top: -1.6em;
	right: -1.4em;
	font-size: var(--fs-100);
	background-color: var(--clr-neutral-100);
	color: var(--clr-neutral-300);
	padding: 0.2em 0.5em;
	border-radius: 100vw;
	display: flex;
	align-items: center;
}

.about-contact-wrapper,
.pizza-drinks-wrapper {
	display: flex;
	list-style: none;
}

/* Flex row Gap */
.trolly > * + * {
	margin: 0 0 0 calc(var(--br) / 2);
}

/* Flex row Gap */
.pizza-drinks-wrapper > * + * {
	margin: 0 0 0 var(--br);
}
/* Flex Columns Gap */
.about-contact-wrapper > * + * {
	margin: var(--br) 0 0 0;
}

.about-contact-wrapper {
	position: fixed;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	/* Matching the App padding */
	padding-right: 1rem;
	top: 0;
	left: 0;
	bottom: 0;
	background: red;
	width: 100%;
	font-size: var(--fs-600);
	pointer-events: none;
	z-index: 1;
}
/* Position the Burger Menu where it belongs */
.burger {
	position: relative;
	z-index: 2;
	padding: 0.5rem 0rem;
	align-self: flex-end;
}
/* Styling the burger menu lines */
.burger > div {
	--flow-spacer: 0.31em;
	width: 2rem;
	height: 0.25rem;
	border-radius: 10px;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
}

.navigation-link li {
	position: relative;
	transition: all 200ms ease-out;
}

.navigation-link li::after {
	content: '';
	position: relative;
	display: block;
	bottom: -4px;
	height: 0.15rem;
	width: 100%;
	transform: scale(0, 1);
	background: var(--clr-neutral-100);
	border-radius: 100vw;
	transition: all 250ms ease-in-out;
}

.navigation-link li:hover::after {
	transform: scale(1, 1);
}

.navigation-link-underline-active::after {
	transform: initial !important;
}

@media (min-width: 58em) {
	.nav {
		display: grid;
		gap: 0em 1em;
		grid-template-columns: repeat(4, minmax(60px, 60px)) repeat(12, 1fr);
		place-items: center;
		grid-template-areas: 'logo  logo logo logo logo . . nav-links nav-links nav-links nav-links nav-links . . trolly';
	}

	.logo {
		grid-area: logo;
		background-color: var(--clr-accent-300);
		border-radius: 1rem 1rem 0rem 0rem;
	}

	.nav-links {
		grid-area: nav-links;
		height: initial;
	}

	.trolly {
		grid-area: trolly;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.trolly > span {
		margin-top: 1rem;
		margin: 1rem auto;
		font-size: var(--fs-200);
		color: var(--clr-neutral-300);
	}

	.nav-order-size {
		top: -8.9em;
		right: -6.5em;
		padding: 1.8em 3em;
		font-size: var(--fs-200);
		background-color: var(--clr-neutral-300);
		color: var(--clr-neutral-100);
		/* line-height: 1; */
		margin: auto;
	}

	/* Resetting values for desktop version */
	.nav-links,
	.trolly,
	.pizza-drinks-wrapper {
		background: none;
		position: static;
		bottom: initial;
		left: initial;
		right: initial;
		border-radius: initial;
		color: var(--clr-neutral-300);
		padding: 0 0;
		text-align: initial;
		width: auto;
	}
	/* Functionality to allow the split of the Nav links into the Burger and the Bottom */
	.nav-links {
		margin-bottom: 0;
	}

	.nav-links ul {
		padding: 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.nav-links ul > * + * {
		margin: 0 0 0 var(--br);
		list-style: none;
	}

	.nav-links ul {
		color: inherit;
	}

	.pizza-drinks-wrapper a {
		color: var(--clr-neutral-300);
	}
	.about-contact-wrapper-visible {
		display: flex;
	}

	.about-contact-wrapper-visible a {
		font-size: var(--fs-500);
		color: var(--clr-neutral-300);
	}

	.about-contact-wrapper-visible > * + * {
		margin: 0 0 0 var(--br);
	}

	.burger {
		display: none;
	}
	/* Special Links with animations for the Mobile Version */
	.about-contact-wrapper {
		display: none;
	}

	.navigation-link li::after {
		background-color: var(--clr-neutral-300);
	}
}
