.pizza-section {
	text-align: center;
	display: grid;
	gap: 2rem 0em;
	grid-template-columns: repeat(1, 1fr);
	color: var(--clr-neutral-300);
	grid-template-areas:
		'name'
		'quote'
		'title'
		'pizza';
}

/* Safe bet to expand the whole area, does not matter how many columns there would be */

.pizza-section > * {
	grid-column: 1 / -1;
}

.pizzas {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pizzas > * + * {
	margin: 4rem 0 0rem 0;
}

.pizza {
	--flow-spacer: 1rem;
}

.pizza-info-name {
	opacity: 1 !important;
}

.pizza > .image {
	margin: auto;
}

.pizza-buttons-container > .btn {
	padding: 1em 2em;
	font-size: var(--fs-300);
	align-self: center;
}

.pizza-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.characteristic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.characteristic > * + * {
	margin: 0 0 0 0.4em;
}

.quote,
.title,
.name {
	width: 100%;
	padding: 1.3rem 3rem;
}

.title {
	--flow-spacer: 0.04em;
}

.quote {
	border-radius: 1rem;
	background-color: var(--clr-accent-300);
}

.quote > p::after {
	position: absolute;
	content: url('https://drive.google.com/file/d/1VkJjKUuea9GJe-FY-dM6GxHecSWK7KUB/view?usp=sharing');
	top: 0;
	left: 0;
	display: none;
}

.arrow {
	display: none;
}

/* Grid Areas */

.pizzas {
	grid-area: pizza;
}

.quote {
	grid-area: quote;
}

.title {
	grid-area: title;
}

.name {
	grid-area: name;
}

/* Pizza */

.pizza-ingredients-wrapper {
	display: flex;
}
.pizza-ingredients-wrapper > * + * {
	margin: 0 0 0 calc(var(--br) / 2);
}

.pizza-ingredients-wrapper > p:not(:last-child)::after {
	content: '|';
	padding-left: 1rem;
	color: var(--clr-neutral-300);
	font-weight: var(--fw-400);
}

@media (min-width: 58em) {
	.pizza-section {
		--flow-spacer: 5rem;
		gap: 0em 1em;
		grid-template-columns: repeat(4, minmax(60px, 60px)) repeat(12, 1fr);
		justify-items: center;
		text-align: left;
		grid-template-areas:
			'name  name name name name . pizza pizza pizza pizza pizza pizza pizza . .'
			'quote  quote quote quote quote . pizza pizza pizza pizza pizza pizza pizza . .'
			'title title title title title . pizza pizza pizza pizza pizza pizza pizza . .'
			'title title title title title . pizza pizza pizza pizza pizza pizza pizza . .';
	}

	.pizzas {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
	}

	.arrow {
		display: block;
	}

	.quote,
	.title,
	.name {
		background: var(--clr-accent-300);
	}
	.quote {
		border-radius: 0 0 0 0;
		padding: 0rem 3rem;
	}

	.title {
		padding: 2rem 3rem;
		border-radius: 0 0 1rem 1rem;
	}

	.name {
		position: relative;
		text-align: center;
		opacity: 1;
	}

	.image {
		display: flex;
		flex-direction: column;
	}

	.pizza-buttons-container .btn {
		padding: 0.5em 2em;
		text-transform: capitalize;
		font-size: var(--fs-300);
	}
}
