/* Info */
.pizza-section {
	margin-top: 3rem;
}

.info > * + * {
	margin-top: 3rem;
}

.quote,
.title {
	width: 100%;
	padding: 0rem 3rem;
	text-align: center;
	color: var(--clr-neutral-300);
}

.quote {
	border-radius: 1rem;
	background-color: var(--clr-accent-300);
	padding: 2rem;
	border: 1px solid white;
	width: 80%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.colors-quote-wrapper {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
}

.red-bar {
	flex: 0 1 100%;
	background-color: var(--clr-accent-400);
	/* border-radius: 1rem 0 0 1rem; */
	/* mix-blend-mode: screen; */
}

.green-bar {
	flex: 0 1 100%;
	background-color: #69f5c6;
}

.blue-bar {
	flex: 0 1 100%;
	background-color: var(--clr-accent-300);
}

.yellow-bar {
	flex: 0 1 100%;
	background-color: #f5ca5d;
}

.orange-bar {
	flex: 0 1 100%;
	background-color: #f5a28e;
}

.purple-bar {
	flex: 0 1 100%;
	background-color: #829ff5;
}

.drink {
	text-align: center;
}

.image-text-decoration {
	display: none;
}

@media (min-width: 54em) {
	.pizza-section {
		display: grid;
		grid-template-columns: minmax(300px, 28.3%) 1fr 0.05fr;
		grid-auto-rows: 1fr;
		text-align: left;
		margin-top: initial;
	}

	.quote,
	.title,
	.name {
		width: 100%;
		padding: initial;
		text-align: center;
	}

	.info {
		background: var(--clr-accent-300);
		border-radius: 0 0 1rem 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 7rem;
	}

	.info > * + * {
		margin-top: 0rem;
		padding-top: calc(var(--br) * 2);
	}

	.title {
		padding: auto 0;
		display: flex;
		flex-direction: column;
	}

	.quote {
		background-color: transparent;
		position: relative;
		width: 90%;
	}

	.quote-text {
		padding: 1.8rem 1.2rem;
	}

	.image-text-decoration {
		display: none;
		opacity: 0.6;
	}
}
