.pizza-section-veggie {
	border-top: 1px solid var(--clr-accent-400);
	content-visibility: auto;
	contain-intrinsic-size: 1000px;
}

@media (min-width: 54em) {
	.pizza-section-veggie {
		border-top: none;
	}

	.title-second-section {
		margin-top: initial;
		text-align: left;
		width: 80%;
		margin: auto;
		padding: 0rem 2rem;
		display: grid;
		place-items: center;
		color: var(--clr-100);
	}

	.pizza-section-veggie .info {
		background-color: var(--clr-accent-400);
		color: var(--clr-neutral-100);
		border-radius: 1rem;
		display: grid;
		place-items: center;
	}
}
