/* Info */
.pizza-section {
	margin-top: 3rem;
}

.info > * + * {
	margin-top: 3rem;
}

.quote,
.title {
	width: 100%;
	padding: 0rem 3rem;
	text-align: center;
	color: var(--clr-neutral-300);
}

.quote {
	border-radius: 1rem;
	background-color: var(--clr-accent-300);
	padding: 2rem;
	border: 1px solid white;
	width: 80%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.arrow-wrapper {
	min-height: 16px;
}

.arrow {
	display: none;
}

/* Pizzas */

.pizzas {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
	margin-top: var(--br);
}

.pizzas > * + * {
	margin: 4rem 0 0 0;
}

.pizza {
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 0;
}

.pizza-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--clr-neutral-300);
}

.pizza-info-name {
	opacity: 1 !important;
}

.pizza-image-wrapper {
	min-height: 9.3rem;
}

.pizza-buttons-container > .btn {
	font-size: var(--fs-300);
	align-self: center;
}

.characteristic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.characteristic > * + * {
	margin: 0 0 0 0.4em;
}

.pizzas {
	display: flex;
	flex-direction: column;
	align-items: center;
	--flow-spacer: 4rem;
}

.pizza-ingredients-wrapper {
	display: flex;
}

.pizza-ingredients-wrapper > * + * {
	margin: 0 0 0 calc(var(--br) / 6);
}

.pizza-ingredients-wrapper > p:not(:last-child)::after {
	content: '|';
	padding-left: calc(var(--br) / 6);
	color: var(--clr-neutral-300);
	font-weight: var(--fw-400);
}

.image > * + * {
	margin: 0.5rem 0 0 0;
}

.pizza-info {
	display: flex;
	flex-direction: column;
}

.pizza-info > * + * {
	margin: calc(var(--br) / 1.5) 0 0 0;
}

.pizza-characteristics-wrapper {
	min-height: 18px;
}

.characteristic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.characteristic > * + * {
	margin: 0 0 0 0.4em;
}

.image > img {
	object-fit: cover;
	height: auto;
	width: 9rem;
}

.pizza-buttons-container > .btn {
	font-size: var(--fs-300);
	align-self: center;
}

.colors-quote-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	/* transform: translateY(100%); */
	display: flex;
	justify-content: center;
}

.red-bar {
	flex: 0 1 100%;
	background-color: var(--clr-accent-400);
	/* border-radius: 1rem 0 0 1rem; */
	/* mix-blend-mode: screen; */
}

.green-bar {
	flex: 0 1 100%;
	background-color: #69f5c6;
}

.blue-bar {
	flex: 0 1 100%;
	background-color: var(--clr-accent-300);
}

.yellow-bar {
	flex: 0 1 100%;
	background-color: #f5ca5d;
}

.orange-bar {
	flex: 0 1 100%;
	background-color: #f5a28e;
}

.purple-bar {
	flex: 0 1 100%;
	background-color: #829ff5;
}

.drink {
	text-align: center;
}

.image-text-decoration {
	display: none;
}

@media (min-width: 54em) {
	.pizza-section {
		display: grid;
		grid-template-columns: minmax(300px, 28.3%) 1fr 0.05fr;
		grid-auto-rows: 1fr;
		text-align: left;
		margin-top: initial;
	}

	.quote,
	.title,
	.name {
		width: 100%;
		padding: initial;
		text-align: center;
	}

	.info {
		background: var(--clr-accent-300);
		border-radius: 0 0 1rem 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 7rem;
	}

	.info > * + * {
		margin-top: 0rem;
		padding-top: calc(var(--br) * 2);
	}

	.title {
		padding: auto 0;
		display: flex;
		flex-direction: column;
	}

	.quote {
		background-color: transparent;
		position: relative;
		width: 90%;
	}

	.quote-text {
		padding: 1.8rem 1.2rem;
	}

	.pizzas {
		--flow-spacer: 3rem;
		display: grid;
		place-items: flex-start;
		margin: auto;
	}

	.drink {
		text-align: left;
		min-width: 3rem;
		margin: auto;
	}

	.pizza {
		margin-left: 4rem;
		min-width: 28rem;
		justify-content: flex-start;
		text-align: left;
	}

	.image-text-decoration {
		display: flex;
		opacity: 0.6;
	}
}
