.trolly-side-bar {
	padding: 4rem 0rem 0rem 0rem;
	position: absolute;
	top: 0;
	left: 0;
	transform: translatex(+100%);
	height: 100vh;
	width: 100%;
	margin: auto;
	transition: 200ms all ease-in-out;
	background-color: var(--clr-accent-300);
	color: var(--clr-neutral-300);
	z-index: 10;
}

.trolly-header {
	justify-content: space-between;
	align-items: center;
	height: 3%;
}

.trolly-list {
	background-color: var(--clr-neutral-150);
	width: 100%;
	margin: auto;
	height: 60%;
	display: flex;
	flex-direction: column;
	border-radius: 2rem;
	overflow-y: scroll;
	margin-top: var(--br);
	padding: 1rem;
}

/* .trolly-list > * + * {
	margin: var(--br) 0rem 0rem 0rem;
} */

.trolly-item {
	--flow-spacer: 0.5em;
	display: flex;
	background: var(--clr-neutral-100);
	width: 90%;
	margin: 2rem auto 0rem auto;
	padding: 3rem 1rem;
	border-radius: 2rem;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.trolly-item > img {
	max-width: 50%;
}

.trolly-item > * + * {
	margin: 0rem 0rem 0rem 1rem;
}

.trolly-item:last-child {
	margin-bottom: 2rem;
}

.trolly-intem-info {
	flex-basis: 100%;
}
.bin {
	color: rgb(104, 104, 104);
}

.plus {
	color: var(--clr-accent-300);
}

.trolly-item-control > p {
	outline: none;
}

.order-now {
	--flow-spacer: 1.5em;
	margin: calc(var(--br) * 1.1) auto auto auto;
	opacity: 0;
	width: 80%;
	padding: 0rem 2rem;
}

.order-total-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trolly-main-buttom-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: var(--bre) auto;
}
.order-now .btn {
	padding: 0.5rem 1.8rem;
	font-size: var(--fs-400);
}

@media (min-width: 58em) {
	.trolly-side-bar {
		width: 35%;
	}

	.trolly-item {
		flex-direction: row;
		padding: 1rem 1rem;
	}
}
