.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(210, 210, 210, 0.735);
	z-index: 3;
}

.modal-backdrop.checkout {
	z-index: 4;
	flex-direction: column;
	align-items: center;
	background: rgba(210, 210, 210, 0.899);
}

.trolly-side-bar {
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	transform: translatex(+100%);
	height: 100vh;
	width: 100%;
	transition: 200ms all ease-in-out;
	background-color: var(--clr-accent-300);
	color: var(--clr-neutral-300);
	z-index: 10;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.trolly-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2.5rem 1.7rem 0rem 1.7rem;
}

.trolly-list {
	background-color: var(--clr-neutral-150);
	width: 100%;
	display: flex;
	flex-direction: column;
	place-items: center;
	border-radius: 2rem;
	overflow-y: scroll;
	padding: calc(var(--br) / 2) calc(var(--br) / 2);
}

.trolly-list > * + * {
	margin: calc(var(--br) / 2) 0rem 0rem 0rem;
}

.trolly-item {
	--flow-spacer: calc(var(--br) / 4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--clr-neutral-100);
	width: 100%;
	min-height: 10rem;
	padding: var(--br) var(--br);
	border-radius: 2rem;
	text-transform: uppercase;
	position: relative;
}

.delete-item-pop-up {
	position: absolute;
	background-color: var(--clr-accent-300);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--br) 1rem;
	border-radius: 2rem;
	z-index: 2;
	margin: 0 !important;
}

.delete-item-pop-up > h3 {
	text-transform: initial;
	flex-basis: 50%;
}

.delete-item-pop-up > * + * {
	margin: 0 0rem 0.2rem 0;
}

.trolly-item > img {
	max-width: 50%;
}

.trolly-intem-info {
	flex-basis: 100%;
}

.bin {
	color: rgb(104, 104, 104);
}

.plus {
	color: var(--clr-accent-300);
}

.trolly-item-control > p {
	outline: none;
}

.order-now {
	opacity: 0;
	width: 100%;
	padding: 0rem 2rem 6rem 2rem;
}

.order-total-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-now .btn {
	padding: 0.6rem 1.8rem;
	font-size: var(--fs-400);
}

@media (min-width: 58em) {
	.trolly-side-bar {
		width: 35%;
	}

	.trolly-item {
		padding: 1.2rem 1.5rem;
	}

	.trolly-header {
		padding: 4rem 2rem 0rem 2rem;
	}

	.order-now {
		padding: 0rem 2rem 4rem 2rem;
	}

	.plus,
	.minus {
		font-size: 1.4rem;
	}
}
